* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #f5f5f5; #0f1c2e #ffd966 #f86060 #ffc0cb */

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    color: #f5f5f5;
    font: 20px Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    background-color: #0f1c2e;
}
h1 {
    margin-bottom: 10px;
    color: #ffd966;
    font-size: 32px;
    text-align: center;
}
div {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 5px 20px 5px;
}
div::after {
    position: absolute;
    content: '';
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
}
b {
    color: #f86060;
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
li {
    position: relative;
    height: 200px;
    border-radius: 4px;
    background: #f5f5f5 url(img/hare.jpg) 50%/cover no-repeat;
    list-style-type: none;
    transition: .4s;
}
.hidden::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc0cb url(img/smile.svg) 50%/50px no-repeat;
}
.hidden:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.guessed {
    filter: grayscale(100%);
    opacity: 0.8;
}
video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}