* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #71b4ee;
}
header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fafafa;
    background-color: blue;
}
.material-icons-outlined {
    margin-top: 4px;
    padding: 2px;
    border: none;
    color: #fafafa;
    font-size: 36px;
    background-color: transparent;
}
ul {
    position: fixed;
    z-index: 5;
    top: 61px;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #fafafa;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
li {
    margin-bottom: 30px;
    list-style-type: none;
    color: blue;
    font-size: 28px;
    font-weight: 700;
}
@keyframes open {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes close {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}